<div class="flex flex-col items-center justify-center mt-10 pb-1">
  <h1 class="text-3xl font-semibold text-gray-600 mb-4 ml-4">
    Finalizar cadastro
  </h1>
</div>

<button class=" bg-gray-800 text-white px-4 py-2 rounded-lg absolute right-4 hover:bg-blue-600 focus:outline-none"
(click)="finalizarCadastro()">
  Cadastrar
</button>

<footer class="fixed bottom-8 left-0 w-full p-4">
  <a class="underline bg-white-800 text-black px-4 py-2 absolute left-4 hover:bg-blue-600 focus:outline-none" href="/valor">
    Voltar
  </a>
</footer>
