<nav class="bg-white shadow-lg p-4 flex justify-between">
  <button class="text-black-500 text-xl" href="/">LOGO</button>
  <div class="flex items-center bg-gray-200 rounded-full p-2 w-96 relative">
    <input type="text" placeholder="Buscar" class="bg-transparent outline-none w-full pr-8">
    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
    </svg>
  </div>
  <div class="relative group">
    <button class="text-black-500 text-xl group-hover:bg-gray-200 ml-24 mr-4 mt-2">
      <img width="30" height="30" src="https://img.icons8.com/fluency-systems-filled/48/guest-male.png" alt="guest-male"/>
    </button>
    <ul class="h-80 w-36 absolute hidden bg-white border border-gray-300 py-2 px-4 rounded-lg z-10 group-hover:block">
      <div>
        <a href="/detalhe">
          <svg class="w-4 h-4 inline-block mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
          Cadastro
        </a>
      </div>
      <li>
        <a href="/">
          <svg class="w-4 h-4 inline-block mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
          Menu
        </a>
      </li>
      <li>
        <a href="#">
          <svg class="w-4 h-4 inline-block mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
          Opção 3
        </a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>
